<h1>Matchdays</h1>
<div>
  <p>
    This is where matches are scheduled and the list of upcoming matches is
    displayed. A user can add new matchdays between two teams, or change the teams
    associated with an existing matchday. When the user changes the teams associated with
    an existing matchday, the relationship between the matchday and teams
    is deleted along with any results (results exist as goals and points attributes
    in the relationship table between teams and matchdays). After the user selects new
    teams and associates them with the matchday, the relationship between the existing
    matchday and new teams is added to the relationship table between teams and matchdays,
    and the user can add the results of that matchday on the Results page.
  </p>
</div>
<h3>Current Matchdays</h3>
<div>
  <form id="newMatchday" action="matchdays" method="POST" onsubmit="return validateNewMatchday(this)">
    <label for="team1">Team 1: </label>
    <select id="team1" name="team1">
      <option value="">Select a Team</option>
      {{#each teams}}
      <option value="{{this.teamId}}">{{this.teamName}}</option>
      {{/each}}
    </select>

    <label for="team2">Team 2: </label>
    <select id="team2" name="team2">
      <option value="">Select a Team</option>
      {{#each teams}}
      <option value="{{this.teamId}}">{{this.teamName}}</option>
      {{/each}}
    </select>

    <label for="gameDate">Match Date:</label>
    <input type="datetime-local" id="gameDate" name="gameDate" />
    <input type="submit" id="submitNewMatchday" value="Add Matchday" />
    <span name="message"></span>
  </form>


</div>
<h3>Current Schedule</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Home</th>
    <th>Away</th>
  </tr>
  {{#each matchdays}}
  <tr>
    <td><input type="datetime-local" value="{{this.gameDate}}" name="gameDate" disabled></td>
    <td><select name="team1" disabled>
        <option value="">Select a Team</option>
        {{#each @root.teams}}
        <option value="{{this.teamId}}" {{selected this.teamId ../this.teamId1}}>{{this.teamName}}</option>
        {{/each}}
      </select>
    </td>
    <td>vs</td>
    <td><select name="team2" disabled>
        <option value="">Select a Team</option>
        {{#each @root.teams}}
        <option value="{{this.teamId}}" {{selected this.teamId ../this.teamId2}}>{{this.teamName}}</option>
        {{/each}}
      </select></td>
    <input type="hidden" name="matchdayId" value="{{this.matchdayId}}" disabled>
    <td><button name="changeTeams">Change Teams</button></td>
    <td> <span name="message"></span>
    </td>
  </tr>
  {{/each}}
</table>