<h1>Matchdays</h1>
<div>
  <h2>Overview</h2>
  <p>
    This is where matches are scheduled and the list of upcoming matches is
    display. The goal of this page will be to have dynamically updated team
    option lists based on the current teams that exist within the database.
    these teams will be able to be scheduled against eachother, with a
    calendar option also to set the match date.Matchdays can be removed
    using the included buttons as well
  </p>
</div>
<h3>Current Matchdays</h3>
<div>
  <form id="/newMatchday" action="newMatchday" method="POST" onsubmit="return validateNewMatchday(this)">
    <label for="team1">Team 1: </label>
    <select id="team1" name="team1">
      <option value="">Select a Team</option>
      {{#each teams}}
      <option value="{{this.teamId}}">{{this.teamName}}</option>
      {{/each}}
    </select>

    <label for="team2">Team 2: </label>
    <select id="team2" name="team2">
      <option value="">Select a Team</option>
      {{#each teams}}
      <option value="{{this.teamId}}">{{this.teamName}}</option>
      {{/each}}
    </select>

    <label for="gameDate">Match Date:</label>
    <input type="datetime-local" id="gameDate" name="gameDate" />
    <input type="submit" id="submitNewMatchday" value="Add Matchday" />
    <span name="message"></span>
  </form>


</div>
<h3>Current Schedule</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Home</th>
    <th>Away</th>
  </tr>
  {{#each matchdays}}
  <tr>
    <td><input type="datetime-local" value="{{this.gameDate}}" name="gameDate" disabled></td>
    <td><select name="team1" disabled>
        <option value="">Select a Team</option>
        {{#each @root.teams}}
        <option value="{{this.teamId}}" {{selected this.teamId ../this.teamId1}}>{{this.teamName}}</option>
        {{/each}}
      </select></td>
    <td>vs</td>
    <td><select name="team2" disabled>
        <option value="">Select a Team</option>
        {{#each @root.teams}}
        <option value="{{this.teamId}}" {{selected this.teamId ../this.teamId1}}>{{this.teamName}}</option>
        {{/each}}
      </select></td>
    <input type="hidden" name="matchdayId" value="{{this.matchdayId}}" disabled>
    <td><button name="deleteMatchday">Remove</button></td>
    <td><button name="editMatchday">Edit</button></td>
    <td> <span name="message"></span>
    </td>
  </tr>
  {{/each}}
</table>